{% extends 'base.html.twig' %}

{% block body %}

{% include 'about/breadcrumb/index.html.twig' %}

<section class="about-us section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                    <img src="{{ asset('build/images/about/choose-left.jpg') }}" alt="#">
{#                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&amp;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM" class="glightbox video"><i class="lni lni-play"></i></a>#}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">

                <div class="content-right wow fadeInRight" data-wow-delay=".5s">

                    <span class="sub-heading">A propos</span>
                    <h2>
                        A propos de Haya
                    </h2>
                    <p>
                        Si vous recherchez une maison, un appartement, une villa, un terrain… en vente ou en location au Niger, vous êtes au bon endroit.
                    </p>
                    <p class="mt-2">
                        Bienvenue sur le portail des annonces immobilières au Niger. <br>
                    </p>
                    <p class="mt-2">
                        Haya est la plateforme pour la location, achat et vente des biens immobiliers au Niger. <br>
                    </p>
                    <h3>Notre Mission</h3>
                    <p class="mb-2">
                        <i class="lni lni-checkmark lni-16"></i>  Fournir de cadre idéal pour la publication en ligne de vos annonces ;
                    </p>

                    <p class="mb-2">
                        <i class="lni lni-checkmark lni-16"></i>  mettre en relation les futures locataires/acquéreurs et les bailleurs ;
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                    <h3 class="counter"><span id="secondo1" class="countup" cup-end="1250">1250</span>+</h3>
                    <p>Regular Ads</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                    <h3 class="counter"><span id="secondo2" class="countup" cup-end="350">350</span>+</h3>
                    <p>Locations</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="2500">2500</span>+</h3>
                    <p>Reguler Members</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="250">250</span>+</h3>
                    <p>Premium Ads</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="how-works section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Comment ça marche</h2>
{#                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem#}
{#                        Ipsum available, but the majority have suffered alteration in some form.</p>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                    <span class="serial">01</span>
                    <h3>Propriétaires</h3>
                    <p>Si vous souhaitez vendre ou mettre en location un logement, contacter nous par téléphone, mail, ou reseaux sociaux pour connaitre la procedure à suivre.</p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_contact') }}" class="btn">Aller à la page des contacts</a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                    <span class="serial">02</span>
                    <h3>Locataires</h3>
                    <p>
                        Nous mettons à votre disposition un catalogue de biens immobiliers pour la location et la vente. Faites une recherche et filtrer le resultat en fonction de vos critères.
                    </p>
                    <div class="link-light mt-4">
                        <a href="#" class="btn">Voir notre catalogue</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                    <span class="serial">03</span>
                    <h3>Sell Your Item</h3>
                    <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}