<div class="card property-widget mb-4">
	<div class="card-body px-6 pt-5 pb-6">
		<h4 class="card-title fs-16 lh-2 text-dark mb-3">Featured Properties</h4>
			<div class="slick-slider mx-0" data-slick-options='{"slidesToShow": 1, "autoplay":true}'>
				<div class="box px-0">
					<div class="card border-0">
						<img src="images/feature-property-01.jpg" class="card-img" alt="Villa on Hollywood
							Boulevard"
						>
						<div class="card-img-overlay d-flex flex-column bg-gradient-3 rounded-lg">
							<div class="d-flex mb-auto">
								<a href="#" class="mr-1 badge badge-orange">featured</a>
								<a href="#" class="badge badge-indigo">for Rent</a>
							</div>
							<div class="px-2 pb-2">
								<a href="single-property-1.html" class="text-white">
									<h5 class="card-title fs-16 lh-2 mb-0">Villa on Hollywood Boulevard</h5>
								</a>
								<p class="card-text text-gray-light mb-0 font-weight-500">
									1421 San Predro St, Los Angeles
								</p>
								<p class="text-white mb-0">
									<span class="fs-17 font-weight-bold">$2500 </span>/month
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="box px-0">
					<div class="card border-0">
						<img src="images/feature-property-01.jpg" class="card-img" alt="Villa on Hollywood
																	Boulevard">
						<div class="card-img-overlay d-flex flex-column bg-gradient-3 rounded-lg">
							<div class="d-flex mb-auto">
								<a href="#" class="mr-1 badge badge-orange">featured</a>
								<a href="#" class="badge badge-indigo">for Rent</a>
							</div>
							<div class="px-2 pb-2">
								<a href="single-property-1.html" class="text-white">
									<h5 class="card-title fs-16 lh-2 mb-0">Villa on Hollywood Boulevard</h5>
							 	</a>
								<p class="card-text text-gray-light mb-0 font-weight-500">
									1421 San Predro St, Los Angeles
								</p>
								<p class="text-white mb-0">
									<span class="fs-17 font-weight-bold">
										$2500 
									</span>/month
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="box px-0">
					<div class="card border-0">
						<img src="images/feature-property-01.jpg" class="card-img" alt="Villa on Hollywood
																	Boulevard">
						<div class="card-img-overlay d-flex flex-column bg-gradient-3 rounded-lg">
							<div class="d-flex mb-auto">
								<a href="#" class="mr-1 badge badge-orange">featured</a>
								<a href="#" class="badge badge-indigo">for Rent</a>
							</div>
							<div class="px-2 pb-2">
								<a href="single-property-1.html" class="text-white">
									<h5 class="card-title fs-16 lh-2 mb-0">Villa on Hollywood Boulevard</h5>
								</a>
								<p class="card-text text-gray-light mb-0 font-weight-500">
									1421 San Predro St, Los Angeles
								</p>
								<p class="text-white mb-0">
									<span class="fs-17 font-weight-bold">$2500 </span>/month
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>