<div class="card-body px-6 py-4">
	<h4 class="card-title fs-16 lh-2 text-dark mb-3">Latest Posts</h4>
	<ul class="list-group list-group-flush">
		<li class="list-group-item px-0 pt-0 pb-3">
			<div class="media">
				<div class="position-relative mr-3">
					<a href="blog-details-1.html" class="d-block w-100px rounded pt-11 bg-img-cover-center" style="background-image: url('images/post-02.jpg')">
					</a>
					<a href="blog-grid-with-sidebar.html" class="badge text-white bg-dark-opacity-04 m-1 fs-13 font-weight-500 bg-hover-primary hover-white position-absolute pos-fixed-top">
					creative
					</a>
				</div>
				<div class="media-body">
					<h4 class="fs-14 lh-186 mb-1">
						<a href="blog-details-1.html" class="text-dark hover-primary">
							Retail banks wake up to digital lending this year
						</a>
					</h4>
					<div class="text-gray-light">
						Dec 16, 2018
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item px-0 pt-2 pb-3">
			<div class="media">
				<div class="position-relative mr-3">
					<a href="blog-details-1.html" class="d-block w-100px rounded pt-11 bg-img-cover-center" style="background-image: url('images/post-04.jpg')">
					</a>
					<a href="blog-grid-with-sidebar.html" class="badge text-white bg-dark-opacity-04 m-1 fs-13 font-weight-500 bg-hover-primary hover-white position-absolute pos-fixed-top">
					rental
					</a>
				</div>
				<div class="media-body">
					<h4 class="fs-14 lh-186 mb-1">
						<a href="blog-details-1.html" class="text-dark hover-primary">
							Within the construction industry as their overdraft
						</a>
					</h4>
					<div class="text-gray-light">
					Dec 16, 2018
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item px-0 pt-2">
			<div class="media">
				<div class="position-relative mr-3">
					<a href="blog-details-1.html" class="d-block w-100px rounded pt-11 bg-img-cover-center" style="background-image: url('images/post-07.jpg')">
					</a>
					<a href="blog-grid-with-sidebar.html" class="badge text-white bg-dark-opacity-04 m-1 fs-13 font-weight-500 bg-hover-primary hover-white position-absolute pos-fixed-top">
					rental
					</a>
				</div>
				<div class="media-body">
					<h4 class="fs-14 lh-186 mb-1">
						<a href="blog-details-1.html" class="text-dark hover-primary">
							Future Office Buildings: Intelligent by Design
						</a>
					</h4>
					<div class="text-gray-light">
						Dec 16, 2018
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>