<section class="d-flex flex-column">
    <div class="bg-cover text-center d-flex align-items-center justify-content-center flex-column custom-vh-03" style="background-image: url({{asset('images/hero1.jpg')}});">
        <p class="fs-md-45 fs-30 text-white font-weight-light mb-0 lh-15 pt-8">Le Site des Annonces</p>
        <h2 class="text-white display-1 lh-1 mb-0">
            Immobilières
        </h2>
        <img src="{# images/signature.png #}images/line-011.png" class="pl-md-17 ml-md-17 mr-md-n8" alt="Dream home">

        <a href="#" class="btn btn-lg btn-indigo rounded-lg mb-8 mt-8">
            En savoir plus<i class="far fa-long-arrow-right ml-2"></i>
        </a>
    </div>
</section>