<section class="pt-10 pb-9">
	<div class="container">
		<p class="text-primary letter-spacing-263 text-uppercase lh-186 text-center mb-0">new & articles</p>
		<h2 class="text-center lh-1625 text-dark pb-1">
			Check Out Recent News & Articles
		</h2>
		<div class="mx-n2">
			<div class="slick-slider mt-6 mx-n1 slick-dots-mt-0" data-slick-options='{"slidesToShow": 3, "autoplay":false,"arrows":false,"dots":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":2}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"autoplay":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true,"autoplay":true}}]}'>
				<div class="item py-4" data-animate="fadeInUp">
					<div class="card border-0 shadow-xxs-3" data-animate="fadeInUp">
						<div class="position-relative d-flex align-items-end card-img-top">
							<a href="blog-details-1.html" class="hover-shine">
								<img src="images/post-05.jpg" alt="The Interior Design The Hall On str. Filimonovo">
							</a>
							<a href="#" class="badge text-white bg-dark-opacity-04 fs-13 font-weight-500 bg-hover-primary hover-white mx-2 my-4 position-absolute pos-fixed-bottom">
							Creative
							</a>
						</div>
						<div class="card-body px-5 pt-3 pb-5">
							<p class="mb-1 fs-13">Dec 16, 2020</p>
							<h3 class="fs-18 text-heading lh-194 mb-1">
								<a href="blog-details-1.html" class="text-heading hover-primary">The Interior Design The Hall On str. Filimonovo</a>
							</h3>
							<p class="mb-3">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim
							</p>
							<a class="text-heading font-weight-500" href="blog-details-1.html">Learn more <i class="far fa-long-arrow-right text-primary ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="item py-4" data-animate="fadeInUp">
					<div class="card border-0 shadow-xxs-3" data-animate="fadeInUp">
						<div class="position-relative d-flex align-items-end card-img-top">
							<a href="blog-details-1.html" class="hover-shine">
								<img src="images/post-06.jpg" alt="Ten Benefits Of Rentals That May Change Your Perspective">
							</a>
							<a href="#" class="badge text-white bg-dark-opacity-04 fs-13 font-weight-500 bg-hover-primary hover-white mx-2 my-4 position-absolute pos-fixed-bottom">
							Rentals
							</a>
						</div>
						<div class="card-body px-5 pt-3 pb-5">
							<p class="mb-1 fs-13">Dec 16, 2020</p>
							<h3 class="fs-18 text-heading lh-194 mb-1">
								<a href="blog-details-1.html" class="text-heading hover-primary">Ten Benefits Of Rentals That May Change Your Perspective</a>
							</h3>
						 	<p class="mb-3">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim</p>
							<a class="text-heading font-weight-500" href="blog-details-1.html">Learn more <i class="far fa-long-arrow-right text-primary ml-1"></i></a>
						</div>
					</div>
				</div>
				<div class="item py-4" data-animate="fadeInUp">
					<div class="card border-0 shadow-xxs-3" data-animate="fadeInUp">
						<div class="position-relative d-flex align-items-end card-img-top">
							<a href="blog-details-1.html" class="hover-shine">
								<img src="images/post-07.jpg" alt="Future Office Buldings Intelligent by Design">
							</a>
							<a href="#" class="badge text-white bg-dark-opacity-04 fs-13 font-weight-500 bg-hover-primary hover-white mx-2 my-4 position-absolute pos-fixed-bottom">
							Rentals
							</a>
						</div>
						<div class="card-body px-5 pt-3 pb-5">
							<p class="mb-1 fs-13">Dec 16, 2020</p>
							<h3 class="fs-18 text-heading lh-194 mb-1">
								<a href="blog-details-1.html" class="text-heading hover-primary">Future Office Buldings Intelligent by Design</a>
							</h3>
							<p class="mb-3">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum issim</p>
							<a class="text-heading font-weight-500" href="blog-details-1.html">Learn more <i class="far fa-long-arrow-right text-primary ml-1"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>