<section class="mt-2 pb-6 px-6 pt-5 bg-white rounded-lg">
    <h4 class="fs-22 text-heading mb-4">Additional Details</h4>
    <div class="row">
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Property ID</dt>
            <dd>AD-2910</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Price</dt>
            <dd>$890.000</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Property type</dt>
            <dd>Apartment, bar, cafe, villa</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Property status</dt>
            <dd>For Sale</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Rooms</dt>
            <dd>4</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Bedrooms</dt>
            <dd>3</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Size</dt>
            <dd>900SqFt</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Bathrooms</dt>
            <dd>2</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Garage</dt>
            <dd>1</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Bathrooms</dt>
            <dd>2000 SqFt</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Garage size</dt>
            <dd>50 SqFt</dd>
        </dl>
        <dl class="col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Year build</dt>
            <dd>2020</dd>
        </dl>
        <dl class="offset-sm-6 col-sm-6 mb-0 d-flex">
            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Label</dt>
            <dd>Bestseller</dd>
        </dl>
    </div>
</section>