<section class="pb-8 px-6 pt-5 bg-white rounded-lg">
    <h4 class="fs-22 text-heading mb-3">Description</h4>
    <p class="mb-0 lh-214">Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus
        scelerisque eleifend donec.
        Porta nibh venenatis cras sed felis eget velit aliquet. Neque volutpat ac tincidunt vitae semper
        quis lectus. Turpis in eu mi bibendum neque
        egestas congue quisque. Sed elementum tempus egestas sed sed risus pretium quam. Dignissim sodales
        ut eu sem. Nibh mauris cursus mattis molestie a
        iaculis at erat pellentesque. Id interdum velit laoreet id donec ultrices tincidunt.
    </p>
</section>