{% extends 'frontend/base.html.twig' %}

{% block title 'Listing All categories' %}

{% block body %}


    <h2 class="mt-4 mb-4 text-center">List of categories</h2>

    <a href="{{ path('app_category_new') }}" class="btn btn-primary mb-4">Create new category</a>

    {% for category in categories %}
        <p>
            {{ category.name }}
        </p>
        <hr>
    {% endfor %}

{% endblock %}