{% extends 'frontend/base.html.twig' %}

{% block body %}

    <h2 class="mt-4 mb-2 text-center">Create new property</h2>

    {{ form_start(property_create_form) }}

    {{ form_widget(property_create_form) }}

    <button type="submit" class="btn btn-primary">Save</button>

    {{ form_end(property_create_form) }}

{% endblock %}