{% for property in properties %}
<div class="single-product">
    <div class="product-img">
        <img src="assets/images/product/l-product-1.jpg" alt="">
    </div>
    <div class="product-content">
        <div class="rating-wrapper">
            <h5 class="price theme-color">$120.99</h5>
            <div class="rating">
                <span>2 Review</span>
                <i class="lni lni-star-filled"></i>
                <i class="lni lni-star-filled"></i>
                <i class="lni lni-star-filled"></i>
                <i class="lni lni-star-filled"></i>
                <i class="lni lni-star"></i>
            </div>
        </div>
        <h3 class="name">
            <a href="product-details.html">Apple iPhone x</a>
        </h3>
        <p class="sort-des">Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam.</p>
        <div class="product-bottom">
            <a href="javascript:void(0)" class="address-link">
                <i class="lni lni-map-marker"></i>
                United State of America</a>
            <span class="theme-color">
                <i class="lni lni-heart"></i>
            </span>
        </div>
    </div>
</div>
    
{% endfor %}
  

