<nav aria-label="breadcrumb">
    <ol class="breadcrumb py-3">
        <li class="breadcrumb-item fs-12 letter-spacing-087">
            <a href=".html">Home</a>
        </li>
        <li class="breadcrumb-item fs-12 letter-spacing-087">
            <a href="listing-grid-with-left-filter.html">Listing</a>
        </li>
        <li class="breadcrumb-item fs-12 letter-spacing-087 active">
            Villa on Hollywood Boulevard
        </li>
    </ol>
</nav>