{% extends 'base.html.twig' %}

{% block body %}

<div class="coming-soon">

    <div class="verticle-lines">
        <div class="vlines one"></div>
        <div class="vlines two"></div>
        <div class="vlines three"></div>
        <div class="vlines four"></div>
    </div>

    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="soon-content">

                    <div class="text">
                        <h2>A vénir, bientôt</h2>
                        <p>L'application mobile de haya sera disponible dans un futur proche.<br>
                            Restez informer sur les réseaux sociaux.
                        </p>
                    </div>

                    <div class="inner-content">
                        <div class="box">
                            <a href="{{ facebook }}">
                                <h1 id="days"><i class="lni lni-facebook-original"></i></h1>
                                <h2 id="daystxt">Facebook</h2>
                            </a>
                        </div>

                        <div class="box">
                            <a href="#">
                                <h1 id="days"><i class="lni lni-twitter-original"></i></h1>
                                <h2 id="hourstxt">Twitter</h2>
                            <a>
                        </div>

                        <div class="box">
                            <a href="#">
                                <h1 id="days"><i class="lni lni-linkedin-original"></i></h1>
                                <h2 id="minutestxt">LinkedIn</h2>
                            </a>
                        </div>

                    </div>

                    <div style="background: rgb(204, 24, 24);" class="alert">
                        <h1 style="padding: 50px 80px;color: white;">We are sorry, Event ended ! </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block javascripts %}

<script>
    window.onload = function () {
        window.setTimeout(fadeout, 500);
    }

    function fadeout() {
        document.querySelector('.preloader').style.opacity = '0';
        document.querySelector('.preloader').style.display = 'none';
    }
</script>


{% endblock %}
