{% extends 'frontend/base.html.twig' %}

{% block body %}
<section class="pb-12 shadow-5 bg-gray-01">
    <div class="container mt-4">
        {# {% include 'frontend/layouts/bredcrumb.html.twig' %} #}

        <div class="row">
            <article class="col-lg-8">
                
                {# Galerie Template #}
                {% include 'frontend/detail/partials/galerie.html.twig' %}

                {# Description #}
                {% include 'frontend/detail/partials/description.html.twig' %}

                {# Additional Details #}
                {% include 'frontend/detail/partials/additional_details.html.twig' %}

            </article>

            {% include 'frontend/detail/partials/aside.html.twig' %}
        </div>
    </div>
</section>

{% endblock %}