<section class="how-works section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Comment ça marche</h2>
                    {#                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem#}
                    {#                        Ipsum available, but the majority have suffered alteration in some form.</p>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                    <span class="serial">01</span>
                    <h3>Propriétaires</h3>
                    <p>Si vous souhaitez vendre ou mettre en location un logement, contacter nous par téléphone, mail, ou reseaux sociaux pour connaitre la procedure à suivre.</p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_contact') }}" class="btn">Aller à la page des contacts</a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                    <span class="serial">02</span>
                    <h3>Locataires</h3>
                    <p>
                        Nous mettons à votre disposition un catalogue de biens immobiliers pour la location et la vente. Faites une recherche et filtrer le resultat en fonction de vos critères.
                    </p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_annonces') }}" class="btn">Voir notre catalogue</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                    <span class="serial">03</span>
                    <h3>Informations</h3>
                    <p>
                        Pour de plus amples informations, veuillez nous contacter, par téléphone, mail, whatsapp... sur les réseaux sociaux Facebook et Twitter
                        <br>
                        Nous sommes à votre disposition
                    </p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_contact') }}" class="btn">Aller à la page des contacts</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>