{% extends 'frontend/base.html.twig' %}

{% block title 'Listing All Properties' %}

{% block body %}

    <h2 class="mt-4 mb-4 text-center">List of properties</h2>

    {{ form_start(form) }}
        
    <button class="btn btn-primary" type="submit">Rechercher</button>
    {{ form_end(form) }}

    {# <div class="count">
        There is {{ pagination.getTotalItemCount }} properties in the database
    </div> #}

    <div class="row">
        {% include 'property/_card.html.twig' %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(properties) }}
    </div>

{% endblock %}