{% extends 'backend/admin/base.html.twig' %}

{% block body %}

<div class="wrapper dashboard-wrapper">
	<div class="d-flex flex-wrap flex-xl-nowrap">
		{# Sidebar #}
			{% include 'backend/admin/sidebar.html.twig' %}
		{# EndSidebar #}

		<div class="page-content">
				
			{# Header #}
				{% include 'backend/admin/layouts/header.html.twig' %}
			{# EndHeader #}

			<main id="content" class="bg-gray-01">
				<div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
					<div class="d-flex flex-wrap flex-md-nowrap mb-6">
						<div class="mr-0 mr-md-auto">
						</div>
						<div>
							<a href="{{path('app_property_new')}}" class="btn btn-indigo btn-lg">
								<span>Ajouter une annonce</span>
							</a>
						</div>
					</div>
					
					{# Myproperties #}
						{% include 'backend/admin/my_properties.html.twig' %}
					{# EndMyproperties #}
				</div>
			</main>
		</div>
	</div>
</div>



{% endblock %}