<div class="d-flex flex-wrap flex-md-nowrap mb-6">

	<div class="mr-0 mr-md-auto">
	</div>

	<div class="form-inline justify-content-md-end mx-n2">
		<div class="p-2">
			<div class="input-group input-group-lg bg-white border">
				<div class="input-group-prepend">
					<button class="btn pr-0 shadow-none" type="button"><i class="far fa-search"></i></button>
				</div>
				<input type="text" class="form-control bg-transparent border-0 shadow-none text-body" placeholder="Search listing" name="search">
			</div>
		</div>
		<div class="p-2">
			<div class="input-group input-group-lg bg-white border">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent letter-spacing-093 border-0 pr-0"><i class="far fa-align-left mr-2"></i>Sort by:</span>
				</div>
				<select class="form-control bg-transparent pl-0 selectpicker d-flex align-items-center sortby" name="sort-by" data-style="bg-transparent px-1 py-0 lh-1 font-weight-600 text-body" id="status">
					<option>Alphabet</option>
					<option>Price - Low to High</option>
					<option>Price - High to Low</option>
					<option>Date - Old to New</option>
					<option>Date - New to Old</option>
				</select>
			</div>
		</div>
	 </div>
</div>

{% include 'backend/admin/table.html.twig' %}


 {{ knp_pagination_render(properties, 'frontend/layouts/pagination.html.twig') }}