{% extends 'base.html.twig' %}

{% block body %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Nous Contacter</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="single-head">
                        <div class="contant-inner-title">

                            <h2 class="mb-4">Coordonnées & Localisation</h2>
                            <p>Pour le moment nous avons pas de lacal fixe mais vous pouvez nous joindre à n'importe quelle heure. voir nos contacts en dessous.</p>

                        </div>
                        <div class="single-info">
                            <h3>Heures de disponibilité</h3>
                            <ul>
                                <li>Jours Ouvrables: 10H – 18H</li>
                                <li>Week-ends: Fermé</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <h3>Contact infos</h3>
                            <ul>
                                <li>
                                    <span class="fw-bold">Adresse : </span> Niamey / Niger
                                </li>

                                <li>
                                    <span class="fw-bold">Email : </span> haya@gmail.com
                                </li>

                                <li>
                                    <span class="fw-bold">Téléphone : </span> ( +227 ) 89375348 / 84808205 / 86548520
                                </li>
                            </ul>
                        </div>
                        <div class="single-info contact-social">
                            <h3>Réseaux sociaux</h3>
                            <ul>
                                <li><a href="{{ facebook }}"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <img src="{{ asset('static/contact_image.png' | imagine_filter('contact_image')) }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}